<div class="center-container">
  <nav class="skew-menu">
    <ul>
      <li routerLinkActive="active"><a routerLink="/home">Smart-Home</a></li>

      <ng-container *ngIf="isAuthenticated(); else signInUpButtons">
        <li style="color: red"><a (click)="logout()">Logout</a></li>
        <li routerLinkActive="active"><a routerLink="/dashboard">dashboard</a></li>
        <li routerLinkActive="active"><a routerLink="/addDevice">add device</a></li>
        <li routerLinkActive="active"><a routerLink="/removeDevice">remove device</a></li>
      </ng-container>

      <ng-template #signInUpButtons>
        <li routerLinkActive="active"><a routerLink="/signIn">sign-In</a></li>
        <li routerLinkActive="active"><a routerLink="/signUp">Sign-Up</a></li>
      </ng-template>
    </ul>

  </nav>
</div>