
.active{
  background: #9BABB8 !important;
}

.skew-menu {
  text-align: center;
}

.skew-menu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: skew(-25deg);
}

.skew-menu ul li {
  cursor: pointer;
  background: #ffff;
  float: left;
  border-right: 1px solid #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
  transition: all 0.3s linear;
}

.skew-menu ul li:first-child {
  border-radius: 7px 0 0 7px;
}

.skew-menu ul li:last-child {
  border-right: none;
  border-radius: 0 7px 7px 0;
}

.skew-menu ul li:hover {
  background: #eee;
  color: #0079FF;
}

.skew-menu ul li a {
  display: block;
  padding: 1em 2em;
  color: inherit;
  text-decoration: none;
  transform: skew(25deg);
}



@media (max-width: 950px) {
  .skew-menu ul li:first-child {
    border-radius: 20px;
  }
  
  .skew-menu ul li:last-child {
    border-radius: 20px;
  }

  .skew-menu ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
    transform: skew(0);
  }
  
  .skew-menu ul li {
    /* background-color: red; */
    border-radius: 0;
    min-width: 209px;
    max-width: 209px;
    min-height: 50px;
    max-height: 50px;
    text-align: center;
    border: none;
    padding: 0;
    border-radius: 20px;
    margin: 3px;
  }
  .skew-menu ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: skew(0);
  }
}